.top-form
{
	-fx-background-color: white;
	-fx-border-color: black;
	-fx-border-width: .4px .4px 0px .4px;
}

.semi-top-form
{
	-fx-background-color: #e0e0e0;
	-fx-border-color: black;
	-fx-border-width: .4px .4px 1px .4px;
}

.close
{
	-fx-background-color: transparent;
	-fx-cursor: hand;
}

.close:hover
{
	-fx-background-color: #b53535;
}

.minimize
{
	-fx-background-color: transparent;
	-fx-cursor: hand;
}

.minimize:hover
{
	-fx-background-color: #c9c9c9;
}

.nav-form
{
	-fx-background-color: linear-gradient(to bottom right, #f124f8, #083fb5);
	-fx-border-color: black;
	-fx-border-width: 0px 0px .4px .4px;
}

.nav-button
{
	-fx-background-color: transparent;
	-fx-cursor: hand;
	-fx-font-family: "Arial";
	-fx-font-size: 14px;
	-fx-text-fill: white;
	-fx-alignment: CENTER_LEFT;
	-fx-border-width: 1px;
	-fx-border-color: white;
	-fx-border-radius: 5px;
}

.nav-button:hover
{
	-fx-background-color: rgba(255, 255, 255, 0.2);
}

.logout-button
{
	-fx-background-color: #0e2f75;
	-fx-background-radius: 5px;
	-fx-cursor: hand;
}

.logout-button:hover
{
	-fx-background-color: #091f4f;
}

.primary-form
{
	-fx-border-color: black;
	-fx-border-width: 0px .4px .4px 0px;
}

.card
{
	-fx-background-color: linear-gradient(to bottom right, #12224d, #9c9c9c);
	-fx-background-radius: 10px;
}

.white-background
{
	-fx-background-color: white;
	-fx-background-radius: 10px;
}

.shadow
{
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 6, 0, 0, 0);
}
















