.top-form
{
	-fx-background-color: white;
	-fx-border-color: black;
	-fx-border-width: .4px .4px 0px .4px;
}

.semi-top-form
{
	-fx-background-color: #e0e0e0;
	-fx-border-color: black;
	-fx-border-width: .4px .4px 0px .4px;
}

.close
{
	-fx-background-color: transparent;
	-fx-cursor: hand;
}

.close:hover
{
	-fx-background-color: #b53535;
}

.minimize
{
	-fx-background-color: transparent;
	-fx-cursor: hand;
}

.minimize:hover
{
	-fx-background-color: #c9c9c9;
}

.nav-form
{
	-fx-background-color: linear-gradient(to bottom right, #f124f8, #083fb5);
	-fx-border-color: black;
	-fx-border-width: 0px 0px .4px .4px;
}

.nav-button
{
	-fx-background-color: transparent;
	-fx-cursor: hand;
	-fx-font-family: "Arial";
	-fx-font-size: 14px;
	-fx-text-fill: white;
	-fx-alignment: CENTER;
	-fx-border-width: 1px;
	-fx-border-color: white;
	-fx-border-radius: 5px;
}

.nav-button:hover
{
	-fx-background-color: rgba(255, 255, 255, 0.2);
}

.logout-button
{
	-fx-background-color: #0e2f75;
	-fx-font-family: Arial;
	-fx-background-radius: 5px;
	-fx-cursor: hand;
}

.logout-button:hover
{
	-fx-background-color: #091f4f;
}

.confirm-logout-button
{
	-fx-background-color: #2aa34b;
	-fx-font-family: Arial;
	-fx-background-radius: 5px;
	-fx-cursor: hand;
}

.confirm-logout-button:hover
{
	-fx-background-color: #0b541f;
}

.cancel-logout-button
{
	-fx-background-color: #ed4747;
	-fx-font-family: Arial;
	-fx-background-radius: 5px;
	-fx-cursor: hand;
}

.cancel-logout-button:hover
{
	-fx-background-color: #b53535;
}

.shape1
{
	-fx-fill: linear-gradient(to bottom, #fff29e, white);
	-fx-stroke-width: 0;
	-fx-opacity: 0.8;
}

.shape2
{
	-fx-fill: linear-gradient(to bottom, #ffbab3, white);
	-fx-stroke-width: 0;
	-fx-opacity: 0.8;
}

.information-form
{
	-fx-border-color: black;
	-fx-border-width: 0px .4px .4px 0px;
}

.card
{
	-fx-background-color: linear-gradient(to bottom right, #12224d, #9c9c9c);
	-fx-background-radius: 10px;
}

.white-background
{
	-fx-background-color: white;
	-fx-background-radius: 10px;
}

.shadow
{
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 6, 0, 0, 0);
}

.table-view
{
	-fx-background-color: transparent;
	-fx-border-color: linear-gradient(to bottom right, #f124f8, #083fb5);
	-fx-border-radius: 8px;
	-fx-padding: 1;
}

.table-view .column-header-background
{
	-fx-background-color: linear-gradient(to bottom right, #f124f8, #083fb5); 
	-fx-background-insets: 0 0 0 0;
	-fx-background-radius: 8px 8px 0px 0px;
}

.table-view .table-column
{
	-fx-alignment: CENTER;
}

.table-view .column-header, .filter
{
	-fx-background-color: transparent;
	-fx-size: 30px;
}

.table-view .column-header .label
{
	-fx-text-fill: white;
	-fx-font-family: "Arial";
}

.textfield
{
	-fx-background-color: linear-gradient(to bottom, #efefef, #eee);
	-fx-border-color: linear-gradient(to bottom right, #f124f8, #083fb5);
	-fx-border-width: 1px;
	-fx-font-size: 14px;
	-fx-font-family: "Arial";
	-fx-border-radius: 4px;
}

.textfield:focused
{
	-fx-border-width: 2px;
	-fx-background-color: white;
}

.search
{
	-fx-background-color: white;
	-fx-border-color: linear-gradient(to bottom right, #f124f8, #083fb5);
	-fx-border-width: 1px;
	-fx-font-size: 14px;
	-fx-font-family: "Arial";
	-fx-border-radius: 4px;
	-fx-padding: 0px 0px 0.0px 32px;
}

.search:focused
{
	-fx-border-width: 2px;
}

.import-button
{
	-fx-background-color: lightgray;
	-fx-text-fill: red;
	-fx-cursor: hand;
	-fx-background-radius: 8px;
	-fx-font-size: 14px;
	-fx-font-family: "Arial";
}

.add-button
{
	-fx-background-color: #0b872c;
	-fx-background-radius: 8px;
	-fx-font-size: 14px;
	-fx-font-family: "Arial";
	-fx-text-fill: white;
	-fx-cursor: hand;
}

.add-button:hover
{
	-fx-background-color: #0b5c21;
}

.edit-button
{
	-fx-background-color: #0e208a;
	-fx-background-radius: 8px;
	-fx-font-size: 14px;
	-fx-font-family: "Arial";
	-fx-text-fill: white;
	-fx-cursor: hand;
}

.edit-button:hover
{
	-fx-background-color: #111d61;
}

.label-info
{
	-fx-background-color: transparent;
	-fx-border-color: linear-gradient(to bottom right, #f124f8, #083fb5);
	-fx-border-width: 1px;
	-fx-font-family: "Arial";
	-fx-font-size: 14px;
	-fx-border-radius: 4px;
	-fx-padding: 0px 0px 0px 5px;
}















