.shadow
{
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 6, 0, 0, 0);
}

.foreground-panel
{
	-fx-background-color: white;
	-fx-background-radius: 10px;
}

.card
{
	-fx-background-color: linear-gradient(to bottom right, #f124f8, #083fb5);
	-fx-background-radius: 10px;
}